    @using client.ApplicationStates
@*using BaseLibrary.Entities
@using client.ApplicationStates*@
    @implements IDisposable
@*inject CountryState countryState*@
@if (allState.ShowCity)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">City</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddButtonClicked">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Add City
                        </button>
                    </div>
                    <div class="card-header" style="max-height:500px; overflow:hidden; overflow-y:scroll;">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Cities != null)
                                    {
                                       int count = 1;
                                        foreach (var item in Cities)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.id</td>
                                                <td>@item.Country!.name</td>
                                                <td>@item.name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info" id="cursorStyle"
                                                       @onclick="()=>EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-danger" id="cursorStyle"
                                                       @onclick="()=>DeleteClicked(item)"></i>

                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4"><div class="alert alert-info text-center">No City Added Yet!</div></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}
<CityDialog @ref="cityDialog"
            HandleSaveOperationEvents="HandleSaveOperationEvent"
            City="City"
            Countries="Countries" />



<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>
@code
{
    CityDialog? cityDialog;
    City City = new();
    public string Title { get; set; } = "Add";
    public List<City> Cities { get; set; } = new();

    public List<Country> Countries { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        await GetCountries();
        await GetCities();
       
        allState.Action += StateHasChanged;
    }
    private async Task GetCountries()
    {
        Countries = await countryService.GetAll(Constants1.CountryBaseUrl);
    }
    private async Task GetCities()
    {
        Cities = await cityService.GetAll(Constants1.CityBaseUrl);
    }
    void OpenDialog()
    {
        cityDialog?.OpenDialog();
    }
    async Task AddButtonClicked()
    {
        cityDialog?.ChangeTitle("Add");
        City = new();
        await GetCountries();
        OpenDialog();
    }
    private async Task HandleSaveOperationEvent()
    {
        bool successCheck = false;
        if (City.id > 0)
        {
            var result = await cityService.Update(City, Constants1.CityBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await cityService.Insert(City, Constants1.CityBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            City = new();
            await GetCities();
            cityDialog?.ChangeTitle("Add");
        }

    }
    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await dialogService.AlertAsync(message, "Success Operation");
            return true;
        }
        else
        {
            await dialogService.AlertAsync(message, "Alert some error");
            return false;


        }
    }
    private async Task EditClicked(City dep)
    {
        cityDialog?.ChangeTitle("Update");
        City = dep;
        await GetCountries();
        OpenDialog();
    }
    private async void DeleteClicked(City dep)
    {
        bool confirm = await dialogService.ConfirmAsync($"Do you want to delete {dep.name}", "Confirm Delete");
        if (!confirm) return;
        var response = await cityService.DeleteById(dep.id, Constants1.CityBaseUrl);
        var result = await DisplayMessage(response.Flag, response.Message);
        if (response.Flag)
        {
            await GetCities();
            StateHasChanged();

        }


    }
    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }
}

