@using BaseLibrary.Entities
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups;
@inject SfDialogService dialogService;
<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header> @Title Department </Header>
        <Content>
            <EditForm Model="GeneralDepartment1" OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @bind-Value="GeneralDepartment1.name" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public GeneralDepartment GeneralDepartment1 { get; set; } = new();
    [Parameter] public EventCallback<GeneralDepartment> HandleSaveOperationEvent { get; set; }
    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }
    async void Save()
    {

        if (string.IsNullOrEmpty(GeneralDepartment1.name))
            await dialogService.AlertAsync("You need to enter department name", "Alert!!!!");
        else
            await HandleSaveOperationEvent.InvokeAsync(GeneralDepartment1);
    }
    public void ChangeTitle(string title)
    {
        Title = title;
    }
}
